@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary: #ffff;
  --white: #ffffff;
  --bg: #f5f5f5;
}

/* from me */

.personDiv {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.personDiv img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the image within the circle */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.persons {
  width: 100%; /* Adjust to your preference */
  height: 100%; /* Adjust to your preference */
  border-radius: 50%;
}

.quote {
  width: 50px;
  height: 50px;
  opacity: 0.7;
  position: absolute;
  top: 12px;
  right: 30px;
}

.texts h3 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #000000;
  line-height: 1.1em;
}

.texts span {
  font-size: 12px;
  color: #14a354;
}

.justifiedtext {
  text-align: justify;
  font-size: 14px;
  margin-top: 80px;
}

/*  */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  font-size: 1.6rem;
  background: var(--bg);
}

.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}



.bgcolor{
  background-color: #ffffff;
  border-radius: 15px;
}

.section-heading {
  color: #ffffff;
  font-weight: bold;
  font-size: 3.4rem;
  padding: 2rem 0;
}

#tranding {
  padding: 4rem 0;
  background-color: #14a354;
}

@media (max-width:1440px) {
  #tranding {
    padding: 7rem 0;
  }
}

#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}




/* when is active or not */
.tranding-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
  opacity: 0.7;
  transition: box-shadow 0.3s ease-in-out; /* Add transition for smooth effect */
}
.align p{
  color: transparent;
  text-shadow: 0 0 8px #000;
}
.texts h3{
  color: transparent;
  text-shadow: 0 0 8px #000;
}
.texts span{
  color: transparent;
  text-shadow: 0 0 8px #14a354;
}

.tranding-slide-active {
  opacity: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add box shadow to the active slide */
  transition: box-shadow 0.3s ease-in-out; /* Add transition for smooth effect */
}
.tranding-slide-active .texts h3 {
  color: #000;
  text-shadow: none; 
}

.tranding-slide-active .texts span{
  color: #14a354;
  text-shadow: none;
}
.tranding-slide-active .align p{
  color: #000;
  text-shadow: none; 
}

/* end */




@media (max-width:500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}


.rating ion-icon {
  color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}